<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OdontoCode"
        tools:targetApi="31">
        <activity
            android:name=".view.FavoritesActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_favorites"
            android:theme="@style/Theme.OdontoCode" />
        <activity
            android:name=".view.AdminUsersActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.NoteDetailActivity"
            android:screenOrientation="portrait"

            android:exported="false" />
        <activity
            android:name=".view.NotesActivity"
            android:screenOrientation="portrait"
            android:exported="false" /> <!-- SplashActivity configurada como pantalla inicial -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LoginActivity -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OdontoCode" /> <!-- RegisterActivity -->
        <activity
            android:name=".view.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true" /> <!-- MainActivity -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.OdontoCode" />
    </application>

</manifest>